/* Universal Styles */

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

body {
  background: url('../assets/images/bg.png');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  font-family: 'Inter', sans-serif;
}
