.searchbar-submit {
  text-align: center;
}

.searchbar-submit button {
  background-color: #8ec39e;
  border: none;
  border-radius: 9px;
  box-shadow: 0 6px #66ac91;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8em;
  margin-bottom: 2rem;
  padding: 0.72rem 1.7rem;
  text-transform: uppercase;
}

.searchbar-submit button:hover {
  background-color: #86b895;
}
